# MacOS .DS_Store files
.DS_Store

# Python .venv
.venv/
venv/

# Matlab autosave files
*.asv

# Binary files
*.bin

# Node builds folders
build_nodes/

# Job nodes folders
job_*/

# Variance logs directory
logs_varianza_v2/

